# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
*.log

# Application
logs/

H2.mv.db
H2.trace.db

# Spring Boot
spring-boot-devtools.properties

# Node
node_modules/
dist/
.env

# System
thumbs.db
.DS_Store

maven_tool/